.gallery {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.gallery-item {
    list-style: none;
    width: calc((100% - 32px) / 3);
    /* overflow: hidden; */
}

.gallery-image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}